<%- include('/components/header.ejs') %>

  <div>
    <%= require('lodash').join(['a','b','c'], '~') %>
  </div>
  <div>
    <%= require('../path.js') %>
  </div>
  <div>
    <%= require('../data.json').data %>
  </div>

<%- include('/components/footer.ejs') %>
