<%- include('/components/header.ejs', { title: 'TOP' }) %>

<div>
  <%= require('lodash').join(['a','b','c'], '~') %>
</div>
<div>
  <% const path = require('../path.js') %>
  <%= path %>
</div>
<div>
  <%= require('../data.json').data %>
</div>

<%- include('/components/footer.ejs') %>
